<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Trip</title>
</head>
<body>
    <div>
        <h1>Hello {{ user_info.first_name }}! Create a trip!</h1>
        <a href="/logout">Logout</a>
        <a href="/dashboard">Dashboard</a>
    </div>
    <div>
        <form action="/create" method="POST">
            {% csrf_token %}
            <h3>Destination</h3>
            <input type="text" name="destination">
            <h3>Start Date</h3>
            <input type="date" name="start_date">
            <h3>End Date</h3>
            <input type="date" name="end_date">
            <h3>Plan:</h3>
            <textarea name="plan" cols="30" rows="10"></textarea>
            <button>Create Trip!</button>
        </form>
    </div>
</body>
</html>